<div id="footer" class="content-box">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <h4>About Tripthreads</h4>
        <ul>
          <li>About us</li>
          <li>Stylists</li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <h4>Need help?</h4>
        <ul>
          <li>FAQs</li>
          <li>Email help@tripthreads.com</li>
        </ul>
        <small>
          &copy; Tripthreads, <%= DateTime.now.strftime("%Y") %>
        </small>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <h4>Follow us!</h4>
        <%= image_tag 'instagram.png', class: 'social'%>
        <%= image_tag 'twitter.png', class: 'social' %>
        <%= image_tag 'pinterest.png', class: 'social' %>
      </div>
    </div>
  </div>
</div>
