<div id="get-started" class="content-box">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <h2>Ready to start?</h2>
        <p>
          We are the jetsetters choice.
        </p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>
</div>
