<div id="get-started" class="content-box">
  <div class="container">
    <div class="row row-eq-height">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h2>Join Tripthreads</h2>
        <h3>Become a Tripthreads member</h3>
        <ul>
          <li>$200 monthly</li>
          <li>Each month you get up to 5 personalized style ensembles</li>
          <li>Need more looks? or more detailed styling for special occasions?
            Additional ensembles cost $30 per task</li>
        </ul>
        <p>
          All your looks are pre-planned. We keep up with current trends to ensure
          that you’ll look your best at that important business meeting or on the beach.
        </p>
        <button class="btn btn-get-started2">Get Started</button>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div id="membership-card">
          <%= image_tag 'tripthreads_membership_fee.png' %>
        </div>
      </div>
    </div>
  </div>
</div>
