<div id="home-how-it-works">

</div>
<div id="home-how-it-works-desc" class="content-box centered-div">
  <h2>How It Works</h2>
  <div class="row content">
    <div class="col-sm-4 centered-div">
      <%= image_tag 'itinerary.png', class: 'how-it-works-img' %>
      <p>Hand us your itinerary along with your style, budget, and preference</p>
    </div>
    <div class="col-sm-4 centered-div">
      <%= image_tag 'suit.png', class: 'how-it-works-img' %>
      <p>We review your Profile and send a selection of products to choose from</p>
    </div>
    <div class="col-sm-4 centered-div">
      <%= image_tag 'suitcase.png', class: 'how-it-works-img' %>
      <p>Select what you love, purchase, and pack</p>
    </div>
  </div>
</div>
