<div class="survey-panel" id="age_section">
  <h2>Don't be shy, let us know how old you are</h2>
  <%= f.text_field :age %>
  <a href="#looks_section" id="age-next" class="btn btn-warning">Next</a>
</div>
