<div class="survey-panel" id="brands_section">
  <h2>Which brands do you prefer?</h2>
  <%= f.text_field :preferred_brands %>
  <a href="#age_section" id="brands-next" class="btn btn-warning">Next</a>
</div>
