<% Look::MAX_OUTFITS.times do |ct| %>
  <div class="survey-panel" id="jewelry-pieces-<%=ct%>">
    <h2>Which jewelry pieces should we include?</h2>
    <a href="#piercings" id="jewelry-pieces-next" class="btn btn-warning">Next</a>
  </div>
<% end %> 
