<% Look::MAX_OUTFITS.times do |ct| %>
  <div class="survey-panel" id="shoes-types-<%=ct%>">
    <h2>Which type of shoes do you prefer to wear</h2>
    <a href="#jewelry-color" id="shoes-types-next" class="btn btn-warning">Next</a>
  </div>
<% end %>
